body {
    background-image: url('C:/Users/vinee/OneDrive/Desktop/MYAPP/src/images/img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .member{
    text-align:center;
    background-color: rgb(245, 238, 238);
    width:200px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 500px;
  }